@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  /* margin: 0; */
  font-family: "Quicksand";
  color: #333;
}

:root {
  --primary: #1aac83;
  --red: #e7195a;
}

/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: var(--primary);
  font-size: 1.5rem;
  margin-right: 16px;
  flex-shrink: 0;
}

.navbar .username {
  font-weight: bold;
}

.navbar .links {
  margin-left: auto;
}

.navbar a,
button {
  text-decoration: none;
  background: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1rem;
  margin-left: 16px;
}

.navbar a:hover {
  color: var(--primary);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar button:hover {
  color: var(--red);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar h1 {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .navbar .links {
    margin-top: 16px;
  }

  .navbar a,
  button {
    margin: 8px;
  }
}

@media screen and (max-width: 480px) {

  .navbar a,
  button {
    padding: 8px;
    font-size: 0.8rem;
  }
}

/* blog previews / list */
.blog-list {
  max-width: 800px;
  margin: 0 auto;
}

.blog-preview {
  padding: 10px;
  border: 1px #ddd;
  border-radius: 4px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: var(--primary);
}

.blog-preview .blog-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
}

.blog-preview .blog-meta p {
  margin: 0;
  padding: 0;
}

.blog-preview .blog-meta .author {
  margin-right: 8px;
}

.blog-preview .blog-meta .comments-count {
  margin-right: 8px;
}

.blog-preview .blog-meta .created-at {
  font-size: small;
}

.blog-link {
  text-decoration: none;
  color: var(--primary);
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s ease-in-out;
}

.blog-link:hover {
  border-bottom: 2px solid var(--primary);
}

@media (max-width: 768px) {
  .blog-preview {
    margin-left: 16px;
    margin-right: 16px;
  }

  .blog-preview h2 {
    font-size: 16px;
  }

  .blog-preview .blog-meta {
    font-size: 12px;
  }
}


/* blog details page*/
.blog-details {
  padding: 50px;
  margin: 20px 0;
  border: 1px solid #fafafa;
}

.blog-details h2 {
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 8px;
}

.blog-details div {
  margin: 20px 0;
  color: #000;
}

.blog-details a {
  text-decoration: none;
  color: var(--primary);
}

.blog-details .blog-body {
  line-height: 1.5;
  margin: 10px 0;
  padding: 0 16px;
  background-color: #fafafa;
  color: #240f0f;
}

.blog-details button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.blog-content article:hover {
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.1);
}

.blog-content button:hover {
  /* box-shadow: 1px 3px 5px 10px rgba(0, 0, 0, 0.1); */
  background: #fa0000cb;
}

#read-blog {
  margin-bottom: 100px;
}

/* comments */
.comments {
  margin: 20px 0;
}

.comments p {
  color: var(--primary);
  margin-top: 50px;
  margin-bottom: 5px;
}

.comment {
  padding: 10px;
  border: 1px var(--primary);
}

.comment p {
  margin-top: 10px;
  margin-bottom: 5px;
  font-style: normal;
  color: #4b1616;
}

.comment .comment-body:hover {
  background: #fafafa;
}

.create-comment button:hover {
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.1);
  background: #16e807;
}

.create-comment {
  margin: 20px 0;
}

.create-comment p {
  font-weight: bold;
  color: var(--primary);
}

.create-comment textarea {
  display: inline;
  width: 250px;
  height: 25px;
  border: 1px solid #fafafa;
  padding: 10px;
  border-style: double;
  border-color: var(--primary);
  border-radius: 12px;
}

.create-comment button {
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 8px;
}

.create-comment .error {
  color: var(--red);
}

/*Create Blog Page*/
h4 {
  color: var(--primary);
}

.create {
  max-width: 400px;
  margin: 0 auto;
}

.title-label,
.body-label,
.space-label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 30px;
}

.title-input,
.body-textarea,
.space-list {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  border-color: var(--primary);
  box-sizing: border-box;
  display: block;
}

.title-input:hover,
.body-textarea:hover,
.space-list:hover {
  border-color: var(--primary);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.space-list {
  background-color: lightblue;
  font-size: 18px;
}

.create button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Not Found Page */
.not-found {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.not-found h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 30px;
}

.not-found p {
  margin: 10px 0;
}

.not-found a {
  text-decoration: none;
  color: var(--primary);
}

/* auth forms */

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--red);
  color: var(--red);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--red);
}

/* user list */
.user-list {
  max-width: 800px;
  margin: 0 auto;
}

.user-list h2 {
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 30px;
  text-align: center;
}

.user-list li {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* margin: 10px 0; */
  cursor: pointer;
  list-style: none;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  /* increased from 30px */
  display: flex;
  align-items: center;
}



.user-list li:hover {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  /* background: #fafafa; */
}

.user-list li a {
  text-decoration: none;
  color: var(--primary);
}

.user-list li .username {
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

.user-list li .counts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  flex-grow: 1;
}

.counts-container p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
}

.count-label {
  font-weight: bold;
  margin-right: 5px;
}

.counts-container p::before {
  content: "";
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-left: 5px;
  padding: 2px;
}

.followers-count::before {
  background-image:
    url("https://cdn-icons-png.flaticon.com/512/1077/1077035.png");
}

.blogs-count::before {
  background-image:
    url("https://cdn-icons-png.flaticon.com/512/25/25657.png");
}

.comments-count::before {
  background-image:
    url("https://cdn-icons-png.flaticon.com/512/25/25663.png");
}

@media screen and (max-width: 600px) {
  .user-list li {
    flex-direction: column;
  }

  .user-list li .username {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .user-list li .counts-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .counts-container p {
    margin-bottom: 5px;
  }
}


/* user profile */
.user-profile {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile h1 {
  font-size: 32px;
  color: #0a684e;
  margin-bottom: 20px;
}

.user-profile h2 {
  font-size: 24px;
  color: #0a684e;
  margin-bottom: 10px;
}

.user-profile .user-information {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.user-profile .user-information p {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.user-profile .user-information p:first-child {
  font-weight: bold;
  margin-bottom: 20px;
}

.user-profile .user-information p:last-child {
  margin-bottom: 0;
}

.user-profile .user-information span {
  font-weight: bold;
  margin-right: 10px;
}

.user-profile .user-information .date {
  font-style: italic;
}

.user-information {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.follow {
  background-color: #00a0d2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.follow:hover {
  background-color: #008fb3;
}

.follow:disabled {
  background-color: #ccc;
}

/* User spaces list */
.user-spaces-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

/* User space */
.space {
  width: 200px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

/* User space link */
.space-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: var(--primary);
}

/* User space link hover effect */
.space-link:hover {
  background-color: #f2f2f2;
}


/* Space info */
.space-info {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  border: 1px #ddd;
  border-radius: 4px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.space-info h1 {
  font-size: 18px;
  margin-bottom: 8px;
}

.space-info p {
  font-size: 14px;
}

@media (max-width: 768px) {
  .space-info {
    margin-left: 16px;
    margin-right: 16px;
  }

  .space-info h1 {
    font-size: 16px;
  }

  .space-info p {
    font-size: 12px;
  }
}

/* Space Actions*/
.add-member-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-member-button button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}

.add-member-button button:hover {
  opacity: 0.8;
}

.add-member-button .error {
  color: red;
}