@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  /* margin: 0; */
  font-family: "Quicksand";
  color: #333;
}

:root {
  --primary: #1aac83;
  --red: #e7195a;
}

/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: var(--primary);
  font-size: 1.5rem;
  margin-right: 16px;
  flex-shrink: 0;
}

.navbar .username {
  font-weight: bold;
}

.navbar .links {
  margin-left: auto;
}

.navbar a,
button {
  text-decoration: none;
  background: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1rem;
  margin-left: 16px;
}

.navbar a:hover {
  color: var(--primary);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar button:hover {
  color: var(--red);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar h1 {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .navbar .links {
    margin-top: 16px;
  }

  .navbar a,
  button {
    margin: 8px;
  }
}

@media screen and (max-width: 480px) {

  .navbar a,
  button {
    padding: 8px;
    font-size: 0.8rem;
  }
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa;
  margin-left: 88.8px;
  margin-right: 88.8px;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

.created-at {
  font-size: small;
}


/* blog details page*/
.blog-details {
  padding: 50px;
  margin: 20px 0;
  border: 1px solid #fafafa;
}

.blog-details h2 {
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 8px;
}

.blog-details div {
  margin: 20px 0;
  color: #000;
}

.blog-details a {
  text-decoration: none;
  color: var(--primary);
}

.blog-details .blog-body {
  line-height: 1.5;
  margin: 10px 0;
  padding: 0 16px;
  background-color: #fafafa;
  color: #240f0f;
}

.blog-details button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.blog-content article:hover {
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.1);
}

.blog-content button:hover {
  /* box-shadow: 1px 3px 5px 10px rgba(0, 0, 0, 0.1); */
  background: #fa0000cb;
}

#read-blog {
  margin-bottom: 100px;
}

/* comments */
.comments {
  margin: 20px 0;
}

.comments p {
  color: var(--primary);
  margin-top: 50px;
  margin-bottom: 5px;
}

.comment {
  padding: 10px;
  border: 1px var(--primary);
}

.comment p {
  margin-top: 10px;
  margin-bottom: 5px;
  font-style: normal;
  color: #4b1616;
}

.comment .comment-body:hover {
  background: #fafafa;
}

.create-comment button:hover {
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.1);
  background: #16e807;
}

.create-comment {
  margin: 20px 0;
}

.create-comment p {
  font-weight: bold;
  color: var(--primary);
}

.create-comment textarea {
  display: inline;
  width: 250px;
  height: 25px;
  border: 1px solid #fafafa;
  padding: 10px;
  border-style: double;
  border-color: var(--primary);
  border-radius: 12px;
}

.create-comment button {
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 8px;
}

.create-comment .error {
  color: var(--red);
}

/*Create Blog Page*/
h4 {
  color: var(--primary);
}

.create {
  max-width: 400px;
  margin: 0 auto;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 30px;
}

.create input,
.create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  border-color: var(--primary);
  box-sizing: border-box;
  display: block;
}

.create input:hover {
  border-color: var(--primary);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.create textarea:hover {
  border-color: var(--primary);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.create button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Not Found Page */
.not-found {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.not-found h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 30px;
}

.not-found p {
  margin: 10px 0;
}

.not-found a {
  text-decoration: none;
  color: var(--primary);
}

/* auth forms */

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--red);
  color: var(--red);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--red);
}

/* user list */
.user-list {
  max-width: 400px;
  margin: 0 auto;
}

.user-list h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 30px;
}

.user-list li {
  padding: 10px;
  border: 1px #ddd;
  border-radius: 4px;
  /* margin: 10px 0; */
  cursor: pointer;
  list-style: none;
  margin-left: 88.8px;
  margin-right: 88.8px;
}

.user-list li:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  /* background: #fafafa; */
}

.user-list li a {
  text-decoration: none;
  color: var(--primary);
}

/* user profile */
.user-profile {
  /* max-width: 400px; */
  margin: 0 auto;
}

.user-profile h2 {
  font-size: 20px;
  color: #0a684e;
  margin-bottom: 30px;
}

.user-profile .user-information {
  padding: 10px;
  border: 1px #ddd;
  border-radius: 4px;
  margin: 10px 0;
}