@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  /* margin: 0; */
  font-family: "Quicksand";
  color: #333;
}

/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa;
  margin-left: 88.8px;
  margin-right: 88.8px;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

.created-at {
  font-size: small;
}


/* blog details page*/
.blog-details {
  padding: 50px;
  margin: 20px 0;
  border: 1px solid #fafafa;
}

.blog-details h2 {
  font-size: 24px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-details div {
  margin: 20px 0;
  color: #000;
}

.blog-details .blog-body {
  line-height: 1.5;
  margin: 10px 0;
  padding: 0 16px;
  background-color: #fafafa;
  color: #240f0f;
}

.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.blog-content article:hover {
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.1);
}

.blog-content button:hover {
  box-shadow: 1px 3px 5px 10px rgba(0, 0, 0, 0.1);
}

#read-blog {
  margin-bottom: 100px;
}

/* comments */
.comments {
  margin: 20px 0;
}

.comments p {
  color: #f1356d;
  margin-top: 50px;
  margin-bottom: 5px;
}

.comment {
  padding: 10px;
  border: 1px #f1356d;
}

.comment p {
  margin-top: 10px;
  margin-bottom: 5px;
  font-style: normal;
  color: #4b1616;
}

.create-comment button:hover {
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.1);
}

.create-comment {
  margin: 20px 0;
}

.create-comment p {
  font-weight: bold;
  color: #f1356d;
}

.create-comment textarea {
  display: inline;
  width: 250px;
  height: 25px;
  border: 1px solid #fafafa;
  padding: 10px;
  border-style: double;
  border-color: #f4f4f4;
}

.create-comment button {
  background: #f1356d;
  color: #fff;
  border: none;
  padding: 8px;
}

/*Create Blog Page*/
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input,
.create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Not Found Page */
.not-found {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.not-found h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.not-found p {
  margin: 10px 0;
}

.not-found a {
  text-decoration: none;
  color: #f1356d;
}